table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    margin-top: 60px;
    table-layout: fixed;
}

tr {
    border-bottom: 1px solid #ddd;
}

td {
    padding: 10px;
    padding-left: 90px;
}

button {
    border: none;
    color: white;
    background-color: teal;
    padding: 10px;
    border-radius: 7px;
}

#addProduct {
    text-align: center;
}

#addProduct button {
    margin: 20px;
    width: 300px;
    height: 40px;
    font-size: 16px;
}