.main_nav {
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
    display: flex;
    padding-left: 700px;
    gap: 40px;
    font-size: 20px;
    font-weight: 600;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.main_nav a {
    text-decoration: none;
    
}